<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/blog" class="form-inline">
                <input class="form-control" type="text" name="filter" placeholder="Search by tag">
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
        </div>
    </div>
    <div class="card-columns">
        <div th:each="el : ${posts}" class="card my-2">
            <div class="card-img-top" th:if="${not #lists.isEmpty(el.filename)}">
                <img th:src="'/img/' + ${el.filename}">
            </div>
            <div class="card-body m-2">
                <h3 class="card-title" th:text="${el.title}"/>
                <p class="card-text" th:text="${el.anons}"/>
                <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Детальнее</a>
            </div>
            <div class="card-footer">
                <strong th:text="${el.authorName}"></strong>
            </div>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>